<!--
<form class="form-inline ml-auto">
  <ul class="navbar-nav">
    <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a>
    </li>
  </ul>
  <div class="search-element">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="250">
    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
    <div class="search-backdrop"></div>
    <div class="search-result">
      <div class="search-header">
        Results
      </div>
      <div class="search-item">
        <a href="#">How to hack NASA using CSS</a>
      </div>
      <div class="search-item">
        <a href="#">Kodinger.com</a>
      </div>
      <div class="search-item">
        <a href="#">#Stisla</a>
      </div>
    </div>
  </div>
</form>
-->
