<div class="modal-header">
  <h4 class="modal-title pull-left">{{ recipe.name }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <carousel [interval]="0" [noWrap]="true">
    <slide *ngFor="let direction of recipe.directions">
      <div class="text-center py-5">
        <h2>Step {{ direction.index }}/{{recipe.directions.length}}</h2>
        <div class="lead">
          <p class="direction-description">{{ direction.description }}</p>
        </div>
      </div>
    </slide>
  </carousel>
</div>
